<div class="col-md-4 col-md-offset-4 well signin">
  <h2>Log in</h2>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs has-feedback">
      <%= f.input :email, label: false do %>
        <%= f.input_field :email, required: false, autofocus: true, class: 'form-control input-lg', placeholder: 'Email' %>
        <span class="input-group-addon glyphicon glyphicon-user form-control-feedback"></span>
      <% end %>
    </div>
    <br>
    <div class="form-inputs has-feedback">
      <%= f.input :password, label: false do %>
        <%= f.input_field :password, required: false, class: 'form-control input-lg', placeholder: 'Password' %>
        <span class="input-group-addon glyphicon glyphicon-lock form-control-feedback" id="input-glyphicon"></span>
      <% end %>

      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'btn btn-primary btn-block btn-lg', id: 'my-btn' %>
    </div>
  <% end %>
  <br>
  <%= flash_messages layout_flash: false %>
  <%= render "devise/shared/links" %>
</div>